h1{
  text-align: center;
  font-family: 'Slabo 50px', serif; 
  color: #3366FF; 
  
}

h3{
  text-align: right;
  font-family: 'Slabo 30 px', serif;
  color: #202020;

}

body {
    background-color: #4DDBB8;
}
  
  
  
}

img{ 
  width: 300 px ;
  height: 200 px;
}