<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>About</title>
   <h7>About: Quizlr</h7>
   <h3>Quizlr was created in 2015 by Karen Chen, Julia Hu, and Devin Milberg. 
     </h3> 
 </head>
 <body>
  
 </body>
</html>