<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>About</title>
   <h7>About: Quizlr</h7>
   <h3>Quizlr is a quiz web app that touches upon the most important current events of its time, such as Donald Trump, Donald Trump's impeccable campaign strategy, and Donald Trump's hair. In addition, Quizlr strives to educate its users by exposing them to the finest, most relevant news outlet-- <i>The Onion</i>. It was created in 2015 by Karen Chen, Julia Hu, and Devin Milberg. Quizlr uses Ruby, HTML5, and CSS3. 
     </h3> 
 </head>
 <body>
  <div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
   
 </body>
</html>