<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>QUIZ: Question Five</title>
  <link rel="stylesheet" href="css/first_question_styling.css" type="text/css">
 </head>
 <body>
   <h1>QUIZ: Fifth Question</h1>
   <h3>Business</h3>
   <h4>What is the top fast food restaurant in the world?</h4>
   <form action="">
     
<input type="radio" name="food" value="subways"><img src="http://img3.wikia.nocookie.net/__cb20100907191825/logopedia/images/6/67/Subway_logo.svg" alt="subways" align="middle" height = "250"; width = 320;/>
<input type="radio" name="food" value="mcdonalds"><img src="http://img2.wikia.nocookie.net/__cb20130722070530/logopedia/images/3/31/McDonald's_2006.png" alt="mcdonalds" align="middle" height = "250"; width = 320;/>
<input type="radio" name="food" value="kfc"><img src="http://static.festisite.com/static/partylogo/img/logos/kfc.png" alt="kfc" align="middle" height = "250"; width = 320;/>
<input type="radio" name="food" value="chipotle"><img src="http://denverbargains.com/wp-content/uploads/2011/02/Chipotle-Mexican-Grill-Logo.png" alt="degeneres" align="middle" height = "250"; width = 320;/><br>
<input type="submit" value="Submit">
</form>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
 </body>
</html>