<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>QUIZ: Question One</title>
  <link rel="stylesheet" href="css/first_question_styling.css" type="text/css">
 </head>
 <body>
   <h1>QUIZ: First Question</h1>
   <h3>Politics</h3>
   <h4>Who is the current President?(2015)</h4>
   <form method="Post" action="/first_question">
<input type="radio" name="pres" value="obama"><img src="http://rack.0.mshcdn.com/media/ZgkyMDEzLzA4LzAyLzdhL29iYW1hMi43M2I5Yi5naWYKcAl0aHVtYgkxMjAweDk2MDA-/71b70ba5/385/obama-2.gif" alt="obama" align="middle" height = "250"; width = 320;/>
<input type="radio" name="pres" value="bush"><img src="http://38.media.tumblr.com/tumblr_m7d57wTGNF1rwzsbso1_500.gif" alt="bush" align="middle" height = "250"; width = 320;/>
<input type="radio" name="pres" value="washington"><img src="http://i258.photobucket.com/albums/hh253/jimifunguzz/George-Washington-driving-Dodge-Freedom-World-Cup.gif" alt="washington" align="middle" height = "250"; width = 320;/>
<input type="radio" name="pres" value="degeneres"><img src="https://33.media.tumblr.com/e90031cc0a0febf55109e3944600b64e/tumblr_mgqo1lkt6K1qgzxcao1_500.gif" alt="degeneres" align="middle" height = "250"; width = 320;/><br>
<input type="submit" value="Submit">
</form>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
 </body>
</html>