<link href='http://fonts.googleapis.com/css?family=Slabo+50px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+30px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/first_question_styling.css" type="text/css">
 </head>
 <body>
   <h1>Quiz</h1>
   <h3>Politics</h3>
   <h4>Who is the current President?(2015)</h4>
   <img src="http://how-rich.org/wp-content/uploads/2015/02/Barack-Obama.jpg" id=option_A/>
   <img src="http://www.fixthisnation.com/wp-content/uploads/2015/01/trump.jpg" id=option_B/>
   <img src="http://images.bwwstatic.com/columnpic6/9C7B978E-0D2F-1702-7547872246055A62.jpg" id=option_C/>
   <p>Barack Obama</p>
   <p>Donald Trump</p>
   <p>Alec Baldwin</p>
 </body>
</html>