<link href='http://fonts.googleapis.com/css?family=Slabo+50px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+30px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>QUIZ: Fourth Question</title>
  <link rel="stylesheet" href="css/first_question_styling.css" type="text/css">
 </head>
 <body>
   <h1>Quiz</h1>
   <h3>Political</h3>
   <h4>Which Republican candidate stood at the center of the stage in the first primary debate of the 2016 American presidential election?</h4>
      <form action="">
     
<input type="radio" name="debate" value="walker"><img src="http://i.imgur.com/T6NylBs.gif" alt="walker" align="middle" height = "250"; width = 325;/>
<input type="radio" name="debate" value="trump"><img src="http://peopleoflancaster.com/wp-content/uploads/2015/06/trumphair.jpg" alt="trump" align="middle" height = "250"; width = 325;/>
<input type="radio" name="debate" value="tatum"><img src="http://robot6.comicbookresources.com/wp-content/uploads/2015/07/Channing-Tatum.jpeg" alt="tatum" align="middle" height = "250"; width = 325;/>
<input type="radio" name="debate" value="rubio"><img src="http://dealbreaker.com/uploads/2015/04/Marco_Rubio_water_bottle.jpg" alt="rubio" align="middle" height = "250"; width = 325;/>
<input type="submit" value="Submit">
</form>
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
 </body>
</html>