<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>QUIZ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>QUIZ</h1>
   <br>  
    <br> 
    <br> 
   <a href="/first_question" class="button">START</a>


<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
   
 </body>
</html>
