<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>THE QUIZ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h7>THE QUIZ</h7>
   <br>  
    <br> 
    <br> 
   <a href="/first_question" class="button">START</a><br><br><br>
   <asdl>Clicking the correct answer will lead to the next question. Clicking the wrong answer will take you to a "Wrong" answer page.</asdl>


<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
   
 </body>
</html>
