<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>QUIZ</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
 <body>
  <h1>QUIZ</h1>
  <.btn><a href="first_question.html">Start</a></.btn>
 </body>
</html>
