<link href='http://fonts.googleapis.com/css?family=Slabo+50px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+30px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="first_question_styling.css" type="text/css">
 </head>
 <body>
   <h1>QUIZ: Second Question</h1>
   <h3>Politics</h3>
   <h4>Which very famous bike race is about 3,500 kilometers long?</h4>
   <form action="">
<input type="radio" name="bike" value="suisse">Tour de Suisse<br>
<input type="radio" name="bike" value="bremen">Six Days Bremen<br>
<input type="radio" name="bike" value="under">Tour Down Under<br>
<input type="radio" name="bike" value="france">Tour de France<br>   
<input type="submit" value="Submit">
</form>
   
 </body>
</html>