<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="first_question_styling.css" type="text/css">
 </head>
  <body>
   <h1>Quiz</h1>
   <h3>WRONG ANSWER!</h3>
    <a href="/third_question" target="_blank"> class="button">NEXT QUESTION</a>
    <a href="http://www.theonion.com/article/astronomers-just-going-go-ahead-and-say-dark-matte-5085"
target="_blank"> class="button">EDUCATE YOURSELF!</a>
    
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>