<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
  <body>
   <h1>Quiz</h1>
   <h3>WRONG ANSWER!</h3>
    <br>
     <br>
     <br>
     <br>
    <a href="/second_question" class="button">NEXT QUESTION</a>
    
    <a href="http://www.theonion.com/article/poll-89-americans-believe-obama-has-failed-bring-a-51061" target="_blank" class="button">EDUCATE YOURSELF!</a>
    
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>