<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/wrong_answer1.css" type="text/css">
 </head>
  <body>
   <h1>Quiz</h1>
    <h5>WRONG ANSWER!</h5>
    <h1>*slow clap*</h1>
    <br>
     <br>
     <br>
     <br>
    <h3>Correct Asnwer: Tour de France</h3>
    <a href="/third_question" class="button">NEXT QUESTION</a>
    <a href="http://www.theonion.com/graphic/bicyclists-begin-formalwear-stage-tour-de-france-50915"target="_blank" class="button">EDUCATE YOURSELF!</a>
    
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>