<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
  <body>
   <h1>Quiz</h1>
   <h3>WRONG ANSWER!</h3>
    <a href="/end" target="_blank"> class="button">END</a>
    <a href="http://www.theonion.com/article/jim-harbaugh-spends-day-testing-every-single-seat--50965"target="_blank"> class="button">EDUCATE YOURSELF!</a>
    
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>