<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>WRONG ANSWER</title>
  <link rel="stylesheet" href="css/wrong_answer1.css" type="text/css">
 </head>
  <body>
   <h1>Quiz</h1>
   <h5>WRONG ANSWER!</h5>
  <h1>“One of the key problems today is that politics is such a disgrace. Good people don’t go into government.”-Donald Trump.</h1>
    <br>
    <br>
    <h3>Correct Answer: Donald Trump</h3>

    <a href="/fifth_question" class="button">NEXT QUESTION</a>
    <a href="http://www.theonion.com/graphic/most-used-words-gop-debate-51041" target="_blank" class="button">EDUCATE YOURSELF!</a>
    
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>