<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>YOU DID IT!</title>
  <link rel="stylesheet" href="css/wrong_answer1.css" type="text/css">
 </head>
  <body>
   <h1>YOU DID IT!</h1>
   <h5>Nice Job!</h5>
   <h1>Here are some gifs for you to enjoy.</h1>
    <br>
<img src="http://33.media.tumblr.com/0abc024eb35c894087fade80340046c1/tumblr_inline_nsflzasrpA1t09k6m_500.gif" alt="c" align="middle" height = "250"; width = 320;/>
<img src="http://media.giphy.com/media/NxrLMdvVzsoG4/giphy.gif" alt="co" align="middle" height = "250"; width = 320;/>
<img src="http://25.media.tumblr.com/tumblr_m5464bwVFv1qihztbo1_400.gif" alt="con" align="middle" height = "250"; width = 320;/>
<img src="http://media.tumblr.com/0786f2164b1e90fe145115010e41cf04/tumblr_mfbdghj61z1qazmn8o1_500.gif" alt="cong" align="middle" height = "250"; width = 320;/><br><br>
<img src="http://33.media.tumblr.com/b4fb1bf170556d2a3a92af448fb5f902/tumblr_inline_nebersnlxa1s0u9u5.gif" alt="co" align="middle" height = "250"; width = 320;/>
<img src="http://33.media.tumblr.com/ec96ebd6150ddc4ac517b7e8103b7440/tumblr_inline_nekp0pQsAN1qd77z5.gif" alt="congr" align="middle" height = "250"; width = 320;/>
<img src="https://community.webroot.com/t5/image/serverpage/image-id/20820i9E5342E9DB9BB489?v=mpbl-1" alt="congra" align="middle" height = "250"; width = 320;/>
<img src="http://data.whicdn.com/images/45841128/large.gif" alt="congrat" align="middle" height = "250"; width = 320;/>
   
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
  
  </body>
</html>