<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="you_did_it.css" type="text/css">
 </head>
 <body>
   <h1>You Did It!</h1>
   <h2>Nice Job!</h2>
   <h4>Here is a gif for you to enjoy</h4>
 </body>
</html>