@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


h1{
  text-align: center; 
  font-family: 'Slabo 27px', serif;
  color: #3366FF
  
}

h3{
  text-align: center;
  font-family: 'Slabo 27 px', serif;
  color: #202020;

}

h4{
  text-align: center
  font-family: 'Open Sans Condensed', sans-serif;
  color: #202020;
  
  
}

body {
    background-color: #FFFFFF;
   
}

#option_A{ 
  width: 300 px ;
  height: 200 px;
}
