h1{
  text-align: center;
  font-family: 'Slabo 50px', serif; 
  color: #3366FF; 
  
}

h3{
  text-align: left;
  font-family: 'Slabo 30 px', serif;
  color: #202020;

}

h4{
  text-align: center;
 font-family: 'Oxygen', sans-serif;; 
   color: #FFFFFF 
  
  
}

body {
    background-color: #4DDBB8;
   
}

#option_A{ 
  width: 300 px ;
  height: 200 px;
}


