@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
h1{
  text-align: center; 
  font-family: 'Slabo 27px', serif;
  color: #3366FF
  
}

body {
        margin-top:     50px;
        margin-left:    50px;
  background-color: #CCFF66;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    text-decoration: none;
    color: initial;
}

